@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: "Work Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
  --font-serif: "Noto Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-display: "Bowlby One", var(--font-sans);

  /* Couleurs custom */
  --color-primary: #3C6E71;      /* Primaire : Bleu doux CPEP */
  --color-accent: #F9564F;       /* Secondaire accent : CPEP orange : #F9564F*/
  --color-bg: #F6F4F3;           /* Blanc cassé (fond principal) */
  --color-text: #080708;         /* TEXTES Raisin Black, avant : #585858*/
  --color-bg-light: #C8D8E4;     /* Fond clair : Bleu clair */
  --color-hover: #D0BCD5;        /* Rose pâle (hover bouton) */
  --color-bg-alt: #EDEDED;       /* Gris clair (fond alternatif) */
  --color-creative: #D4E6B5;     /* Lilas doux */

  --color-success: #4CAF50;      /* Succès : Vert - variante turquoise : #44BBA4*/
  --color-warning: #FFC107;      /* Warning : Orange */
  --color-error: #F44336;        /* Erreur : Rouge */
  --color-info: #2196F3;         /* Information : Bleu Vif */
}

@layer base {
  html { scroll-behavior: smooth; }
  body { @apply bg-bg text-text font-sans; }
  /* a { @apply text-primary hover:text-accent; } */
  h1,h2,h3,h4 { @apply text-gray-900; }
  /* Citations = Noto Serif */
  blockquote { @apply font-serif border-l-4 pl-4 border-bg-light text-gray-700; }
}

/* strong { @apply text-accent; } */

/* === Nav mobile: morph align-right ↔ x === */
#mobile-toggle .icon-open,
#mobile-toggle .icon-close {
  transition: transform .30s ease, opacity .30s ease;
  transform-origin: 50% 50%;
}

/* Fermé */
#mobile-toggle[data-open="false"] .icon-open { opacity: 1; transform: rotate(0); }
#mobile-toggle[data-open="false"] .icon-close { opacity: 0; transform: rotate(180deg); }

/* Ouvert */
#mobile-toggle[data-open="true"] .icon-open  { opacity: 0; transform: rotate(-180deg); }
#mobile-toggle[data-open="true"] .icon-close { opacity: 1; transform: rotate(0); }

/* Respecte les préférences d’animation */
@media (prefers-reduced-motion: reduce) {
  #mobile-toggle .icon-open,
  #mobile-toggle .icon-close { transition: none; }
}


/* checkbox custom cochée */
.consent-checkbox{
  accent-color: var(--color-accent);
}
